<ion-view title="Minyan Map" id="page8" >
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-positive icon No Icon" ng-click="opencustomurl()"> Add Shul</button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <div id="minyanMap-container38">
      <form id="minyanMap-form2" class="list">
        <label class="item item-input" id="minyanMap-search1">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" id="searchTextField" placeholder="Search by Address, City, Zip">
        </label>
      </form>


    </div>


       <div style="  height: 300px;
    width: 100%;
    background-color: #CCC;" id="map-canvas"></div>

    <div class="cardView" ng-if="shulData.total==0">
      No Minyan Found for the selected location.
    </div>
<div class="container">
    <div class="row">
      <div class="pagination">
  <a href="#">&laquo;</a>
  <a href="#">1</a>
  <a href="#">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
  <a href="#">6</a>
  <a href="#">&raquo;</a>
</div>
    </div>
</div>
    <!-- pager -->





    <ion-list id="minyanMap-list12" ng-repeat="shul in shulData.shuls">
      <ion-item class="item-icon-right" id="minyanMap-list-item47" ui-sref="siddurCloud.SelectedShul({id:shul.id})">
        <h3 class="capitalize">{{shul.name}}</h3>
        <p>{{shul.formatted_address}}</p>
        <div ng-if="shul.nextMinyan">
          <span class="minyanFound">{{shul.nextMinyan.type}} {{shul.nextMinyan.time}}</span>
        </div>
        <div ng-if="!shul.nextMinyan">
            <span class="noMinyanFound">No Upcoming minyan today</span>
        </div>
        <i class="icon ion-ios-arrow-right icon-accessory right-arrow"></i>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
