.capitalize {
  text-transform: capitalize;
}


     .pac-container {
   width: 100% !important; position: absolute; left: 0px !important; top: 85px !important;pointer-events:auto !important;

}


.inAppBrowserWrap {
  background-color:#497aa1;
  color: #497aa1;
}

.inAppBrowserWrap menu {
  overflow: auto;
  list-style-type: none;
  padding-left: 0;
}
.inAppBrowserWrap menu li {
  font-size: 25px;
  height: 25px;
  float: left;
  margin: 0 10px;
  padding: 3px 10px;
  text-decoration: none;
  color: #ccc;
  display: block;
  background:#497aa1;
}
.inAppBrowserWrap menu li.disabled {
    color: #497aa1;
}
