<ion-view title="Blessing Over Fruits of a Tree" id="page25">
  <ion-content padding="true" class="has-header">
    <div id="blessingOverFruitsOfATree-button-bar11" class="button-bar languageBar">
      <button id="blessingOverFruitsOfATree-button33" ng-class="{'active': activeLanguage==1}" ng-click="changeLanguage(1)" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-outline">Translit</button>
      <button id="blessingOverFruitsOfATree-button34" ng-class="{'active': activeLanguage==2}" ng-click="changeLanguage(2)" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-outline">English</button>
      <button id="blessingOverFruitsOfATree-button35" ng-class="{'active': activeLanguage==3}" ng-click="changeLanguage(3)" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-outline">Hebrew</button>
    </div>
    <div class="spacer" style="height: 11px;"></div>
    <div>
      <p style="text-align: justify;">
        <span style="color: #808080;">Fruits get the "Ha-etz" blessing. In Jewish law, a fruit is defined as something growing from a perennial tree that does not renew its stem and does not grow too close to the ground. Thus, apples, grapes, nuts (except peanuts) and figs are fruit,
          but strawberries, watermelon and bananas are not.</span>
      </p>
      <p style="text-align: justify;">
        <span style="color: #808080;"> After eating most tree-fruit, say Borei Nefashot. However, after eating grapes, figs, dates, pomegranates, and olives, say Al Hapeirot.</span>
      </p>
      <p style="text-align: justify;">
        <span style="color: #808080;">
          <strong>Blessing Over Fruits of a Tree:</strong>
        </span>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="blessingOverFruitsOfATree-container26" ng-show="activeLanguage==2">
      <div>Blessed are You, L-rd our G‑d, King of the universe, who creates the fruit of the tree.</div>
    </div>
    <div id="blessingOverFruitsOfATree-container27" ng-show="activeLanguage==1">
      <div>Baruch atah A-donay, Elo-heinu Melech Ha’Olam borei pri ha-aitz.</div>
    </div>
    <div id="blessingOverFruitsOfATree-container28" ng-show="activeLanguage==3">
      <p dir="rtl">בָּרוּךְ אַתָּה יְ‑יָ אֱ‑לֹהֵינוּ מֶלֶךְ הָעוֹלָם בּוֹרֵא פְּרִי הָעֵץ:</p>
    </div>
  </ion-content>
</ion-view>