<ion-view title="Blessing Over Other Foods" id="page27">
  <ion-content padding="true" class="has-header">
    <div id="blessingOverOtherFoods-button-bar13" class="button-bar languageBar">
      <button id="blessingOverOtherFoods-button39" ng-class="{'active': activeLanguage==1}" ng-click="changeLanguage(1)" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-outline">Translit</button>
      <button id="blessingOverOtherFoods-button40" ng-class="{'active': activeLanguage==2}" ng-click="changeLanguage(2)" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-outline">English</button>
      <button id="blessingOverOtherFoods-button41" ng-class="{'active': activeLanguage==3}" ng-click="changeLanguage(3)" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-outline">Hebrew</button>
    </div>
    <div class="spacer" style="height: 11px;"></div>
    <div>
      <p style="text-align: justify;">
        <span style="color: #808080;">All foods that do not grow from the ground get the blessing "shehakol." This includes animal products: meat, chicken, fish, and eggs; water and all other drinks (except for wine); and miscellaneous foods like mushrooms, candy, etc.</span>
      </p>
      <p style="text-align: justify;">
        <span style="color: #808080;"> After eating foods that are Shehakol, say Borei Nefashot, the After-Blessing After Other Foods.</span>
      </p>
      <p style="text-align: justify;">
        <span style="color: #808080;">
          <strong>Blessing Over Other Foods:</strong>
        </span>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="blessingOverOtherFoods-container32" ng-show="activeLanguage==2">
      <div>Blessed are You, L-rd our G‑d, King of the universe, by Whose word all things came to be.</div>
    </div>
    <div id="blessingOverOtherFoods-container33" ng-show="activeLanguage==1">
      <div>Baruch atah A-donay, Elo-heinu Melech Ha’Olam shehakol nihiyah bed'varo.</div>
    </div>
    <div id="blessingOverOtherFoods-container34" ng-show="activeLanguage==3">
      <p dir="rtl">בָּרוּךְ אַתָּה יְ‑יָ אֱ‑לֹהֵינוּ מֶלֶךְ הָעוֹלָם שֶׁהַכֹּל נִהְיָה בִּדְבָרוֹ:</p>
    </div>
  </ion-content>
</ion-view>