<ion-view title="Minyan Map" id="page8" >
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-positive icon No Icon" ng-click="opencustomurl()"> Add Shul</button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <div id="minyanMap-container38">
      <form id="minyanMap-form2" class="list">
        <label class="item item-input" id="minyanMap-search1">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" id="searchTextField" placeholder="Search by Address, City, Zip">
        </label>
      </form>


    </div>


       <div style="  height: 300px;
    width: 600px;
    background-color: #CCC;" id="map-canvas"></div>
    <div ng-if="shulData.total==0">
      <span>No Minyan Found for the selected location.</span>
    </div>

    <ion-list id="minyanMap-list12" ng-repeat="shul in shulData.shuls">
      <ion-item class="item-icon-right" id="minyanMap-list-item47" ui-sref="SelectedShul({id:shul.id})">
        <ion-label class="capitalize">{{shul.name}}</ion-label>
        {{shul.address}} {{shul.city}} {{shul.city}} {{shul.state}} {{shul.zipcode}}
        <div ng-if="shul.nextMinyan">
          {{shul.nextMinyan.type}} {{shul.nextMinyan.time}}
        </div>
        <div ng-if="!shul.nextMinyan">
            No Upcoming minyan today
        </div>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
