<ion-view title="About Us" id="page16">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/i6DufM4FRy6D0GDZLUmo_western_wall.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 748px; height: 25px;"></div>
    <div>
      <h1 id="docs-internal-guid-1177ea86-67e2-373a-3495-87d9a47a22e5" dir="ltr" style="text-align: center;">HISTORY OF SIDDUR CLOUD</h1>
      <p style="text-align: justify;">Siddur Cloud started out as an idea that quickly became a flame between a group of friends that wanted to immensely&nbsp;learn to read and pray in Hebrew. We found that&nbsp;it became increasingly evident that people in our community and elsewhere
        have found more freedom with the power of the internet - freedom to pray, congregate, celebrate and assemble. We have&nbsp;all this newfound freedom but still, a gap exists between those that were beneficiaries&nbsp;of Yeshiva education and or
        learned to pray through family, however, those that are just now starting out and finding their true Jewish roots have been disenfranchised by for business.&nbsp;</p>
      <p style="text-align: justify;">This application is meant to serve as a bridge the gap of the aspiring Jew. It has, through an easy to read layout, the English transliterated Hebrew text to start praying at your own level and pace.&nbsp;</p>
      <p style="text-align: center;">
        <span style="font-size: 14pt;">
          <strong>The application will remain free to use forever!</strong>
        </span>
      </p>
      <p style="text-align: justify;">If even one person finds this application useful, the work put in will have been worth it!</p>
      <p style="text-align: justify;">Tell your friends and family about us and enjoy. Any feedback is welcome via
        <a href="mailto:info@siddurcloud.com">admin@siddurcloud.com</a>
      </p>
      <h2 style="text-align: center;">
        <em>
          <strong>- Siddur Cloud Team</strong>
        </em>
      </h2>
    </div>
  </ion-content>
</ion-view>