<ion-view title="Add Shul" id="page22">
  <ion-content padding="true" class="has-header">
    <div id="addShul-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Please add the Shul Information below to add to the GoDaven database. </p>
    </div>
    <div class="list card padding" id="addShul-card24">
      <form id="addShul-form3" class="list">
        <label class="item item-input" id="addShul-input2">
          <span class="input-label">Shul Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="addShul-input3">
          <span class="input-label">Address</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="addShul-input4">
          <span class="input-label">City</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="addShul-input5">
          <span class="input-label">State</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="addShul-input6">
          <span class="input-label">Zip</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="addShul-input7">
          <span class="input-label">Country</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="addShul-input9">
          <span class="input-label">Website URL</span>
          <input type="text" placeholder="">
        </label>
      </form>
    </div>
    <button id="addShul-button45" class="button button-positive button-block">Submit</button>
  </ion-content>
</ion-view>