<ion-view title="Blessing Over Wine" id="page24">
  <ion-content padding="true" class="has-header">
    <div id="blessingOverWine-button-bar10" class="button-bar languageBar">
      <button id="blessingOverWine-button30" ng-class="{'active': activeLanguage==1}" ng-click="changeLanguage(1)" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-outline">Translit</button>
      <button id="blessingOverWine-button31" ng-class="{'active': activeLanguage==2}" ng-click="changeLanguage(2)" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-outline">English</button>
      <button id="blessingOverWine-button32" ng-class="{'active': activeLanguage==3}" ng-click="changeLanguage(3)" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-outline">Hebrew</button>
    </div>
    <div class="spacer" style="height: 11px;"></div>
    <div>
      <p style="text-align: justify;">
        <span style="color: #808080;">Wine has special significance and uses in Jewish law, so it gets its own blessing. Make this blessing when drinking wine or grape juice.</span>
      </p>
      <p style="text-align: justify;">
        <span style="color: #808080;"> After drinking wine or grape juice, say Al Hamichyah, with the inserts for wine. Note: Once you recited Hagafen over wine or grape juice, subsequent drinks in that meal do not warrant a blessing.</span>
      </p>
      <p style="text-align: justify;">
        <span style="color: #808080;">
          <strong>Blessing Over Wine:</strong>
        </span>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="blessingOverWine-container23" ng-show="activeLanguage==2">
      <div>Blessed are You, L-rd our G‑d, King of the universe, Who creates the fruit of the vine.</div>
    </div>
    <div id="blessingOverWine-container24" ng-show="activeLanguage==1">
      <div>Baruch atah A-donay, Elo-heinu Melech Ha’Olam borei pri hagafen.</div>
    </div>
    <div id="blessingOverWine-container25" ng-show="activeLanguage==3">
      <p dir="rtl">בָּרוּךְ אַתָּה יְ‑יָ אֱ‑לֹהֵינוּ מֶלֶךְ הָעוֹלָם בּוֹרֵא פְּרִי הַגָּפֶן:</p>
    </div>
  </ion-content>
</ion-view>