<ion-view title="Other Blessings" id="page9">
  <ion-content padding="true" class="has-header">
    <ion-list id="otherBlessings-list9" class="manual-list-fullwidth">
      <ion-item class="item-avatar item-icon-right" id="otherBlessings-list-item36">
        <h2>Blessings for Challah</h2>
        <p style="white-space:normal;">Baruch ata Adonay, Eloheinu melech ha'olam, asher kiddeshanu bemits-votav vetsivanu lehafrish chalah</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="otherBlessings-list-item37">
        <h2>Blessings for Mezuza</h2>
        <p style="white-space:normal;">Baruch ata Adonay, Eloheinu melech ha'olam, asher kiddeshanu bemits-votav vetsivanu liqbo'a mezuza</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="otherBlessings-list-item41">
        <h2>Mikveh of Utensils</h2>
        <p>Blessing for Mikveh of utensils</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="otherBlessings-list-item38">
        <h2>Bedtime Shema</h2>
        <p>Shema for prior to going to bed</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="otherBlessings-list-item39">
        <h2>New Moon Blessings</h2>
        <p>Blessing for a new Moon</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="otherBlessings-list-item40">
        <h2>Chanukah Menorah Lighting</h2>
        <p style="white-space:normal;">Blessings for lighting Chanuka menorah and order</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>