<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-positive">
      <div class="title">Siddur Cloud</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="siddurCloud-list4">
        <ion-item class="item-divider" id="siddurCloud-list-item-divider3"> Siddur &amp; Prayer Tools</ion-item>
        <ion-item class="item-icon-left item-icon-right" id="siddurCloud-list-item1" ui-sref="siddurCloud.siddurBlessings()" menu-close="">
          <i class="icon ion-ios-book-outline"></i>Siddur &amp; Blessings
          <i class="icon ion-ios-arrow-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" id="siddurCloud-list-item19" ui-sref="siddurCloud.prayerTimes()" menu-close="">
          <i class="icon ion-ios-time-outline"></i>Prayer Times
          <i class="icon ion-ios-arrow-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" id="siddurCloud-list-item20" ui-sref="siddurCloud.minyanMap()" menu-close="">
          <i class="icon ion-ios-location-outline"></i>Minyan Map
          <i class="icon ion-ios-arrow-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-divider" id="siddurCloud-list-item-divider4"> </ion-item>
        <ion-item class="item-icon-left item-icon-right" id="siddurCloud-list-item2" ui-sref="siddurCloud.sefaria()" menu-close="">
          <i class="icon ion-ios-bookmarks-outline"></i>The Sefaria Library
          <i class="icon ion-ios-arrow-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-divider" id="siddurCloud-list-item-divider5"> </ion-item>
        <ion-item class="item-icon-left item-icon-right" id="siddurCloud-list-item3" ui-sref="siddurCloud.settings()" menu-close="">
          <i class="icon ion-ios-settings"></i>Settings
          <i class="icon ion-ios-arrow-right icon-accessory"></i>
        </ion-item>
      </ion-list>
      <div class="spacer" style="width: 268px; height: 30px;"></div>
      <div id="siddurCloud-container10" class="padding">
        <button id="siddurCloud-button13" style="font-size:18px;" class="button button-balanced button-block icon ion-heart"> Support Us</button>
      </div>
      <div>
        <img src="img/OboWg0RJQ829JdlbrKO9_Logo-with-Transparent-Background.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>