<ion-view title="Blessing Over Fruits of the Ground" id="page26">
  <ion-content padding="true" class="has-header">
    <div id="blessingOverFruitsOfTheGround-button-bar12" class="button-bar languageBar">
      <button id="blessingOverFruitsOfTheGround-button36" ng-class="{'active': activeLanguage==1}" ng-click="changeLanguage(1)" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-outline">Translit</button>
      <button id="blessingOverFruitsOfTheGround-button37" ng-class="{'active': activeLanguage==2}" ng-click="changeLanguage(2)" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-outline">English</button>
      <button id="blessingOverFruitsOfTheGround-button38" ng-class="{'active': activeLanguage==3}" ng-click="changeLanguage(3)" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-outline">Hebrew</button>
    </div>
    <div class="spacer" style="height: 11px;"></div>
    <div>
      <p style="text-align: justify;">
        <span style="color: #808080;">"Fruits of the ground" include vegetables, legumes, peanuts, and the "fruit" excluded from the ha-aitz blessing above: melons, bananas, pineapples, some berries.</span>
      </p>
      <p style="text-align: justify;">
        <span style="color: #808080;"> After eating Ha'Adamah, say Borei Nefashot, the After-Blessing After Other Foods.</span>
      </p>
      <p style="text-align: justify;">
        <span style="color: #808080;">
          <strong>Blessing Over Fruits of the Ground:</strong>
        </span>
      </p>
    </div>
    <div class="spacer" style="width: 300px; height: 11px;"></div>
    <div id="blessingOverFruitsOfTheGround-container29" ng-show="activeLanguage==2">
      <div>Blessed are You, L-rd our G‑d, King of the universe who creates the fruit of the earth.</div>
    </div>
    <div id="blessingOverFruitsOfTheGround-container30" ng-show="activeLanguage==1">
      <div>Baruch atah A-donay, Elo-heinu Melech Ha’Olam borei pri ha-adamah.</div>
    </div>
    <div id="blessingOverFruitsOfTheGround-container31" ng-show="activeLanguage==3">
      <p dir="rtl">בָּרוּךְ אַתָּה יְ‑יָ אֱ‑לֹהֵינוּ מֶלֶךְ הָעוֹלָם בּוֹרֵא פְּרִי הָאֲדָמָה:</p>
    </div>
  </ion-content>
</ion-view>