<ion-view title="Food Blessings" id="page15">
  <ion-content padding="true" class="has-header">
    <ion-list id="foodBlessings-list8" class="manual-list-fullwidth">
      <ion-item class="item-divider" id="foodBlessings-list-item-divider6"> Blessings before a Meal</ion-item>
      <ion-item class="item-icon-left item-icon-right" id="foodBlessings-list-item24" ui-sref="siddurCloud.washingHands()">
        <i class="icon ion-android-hand"></i>Washing the Hands
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="foodBlessings-list-item27" ui-sref="siddurCloud.blessingOverBread()" ng-click="bread()">
        <i class="icon ion-android-cloud"></i>Blessing over Bread
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="foodBlessings-list-item28" ui-sref="siddurCloud.blessingOverFoodGrains()" ng-click="grainFoods()">
        <i class="icon ion-android-cloud-outline"></i>Blessing over Grain Foods
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="foodBlessings-list-item29" ui-sref="siddurCloud.blessingOverWine()" ng-click="wine()">
        <i class="icon ion-ios-wineglass"></i>Blessing over Wine
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="foodBlessings-list-item30" ui-sref="siddurCloud.blessingOverFruitsOfATree()" ng-click="fruitsTree">
        <i class="icon ion-leaf"></i>Blessing over Fruit from a Tree
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="foodBlessings-list-item31" ui-sref="siddurCloud.blessingOverFruitsOfTheGround()" ng-click="fruitsGround()">
        <i class="icon ion-ios-nutrition"></i>Blessing on Fruit of the Ground
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="foodBlessings-list-item32" ui-sref="siddurCloud.blessingOverOtherFoods()" ng-click="miscFoods()">
        <i class="icon ion-coffee"></i>Blessing on Misc. Foods
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-divider" id="foodBlessings-list-item-divider7"> Blessings after a Meal</ion-item>
      <ion-item class="item-icon-left item-icon-right" id="foodBlessings-list-item33" ui-sref="siddurCloud.blessingAfterABreadMeal()">
        <i class="icon ion-android-cloud"></i>Blessing after a Bread Meal
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="foodBlessings-list-item34">
        <i class="icon ion-android-cloud-outline"></i>Blessing after a Grain Meal
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-left item-icon-right" id="foodBlessings-list-item35">
        <i class="icon ion-wineglass"></i>Blessing after all other Meals
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>