<ion-view title="Settings" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="settings-list10" class="manual-list-fullwidth">
      <ion-item class="item-divider" id="settings-list-item-divider8"> General</ion-item>
    </ion-list>
    <button id="settings-button14" ng-click="reloadState()" style="font-weight:600;" class="button button-positive button-block">Update Application</button>
    <ion-list id="settings-list11" class="manual-list-fullwidth">
      <ion-item class="item-divider" id="settings-list-item-divider10"> About Us &amp; Legal</ion-item>
      <ion-item class="item-icon-right" id="settings-list-item43" ui-sref="siddurCloud.aboutUs()">About Us
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="settings-list-item44" ui-sref="siddurCloud.termsOfUse()">Terms of Use
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="settings-list-item45" ui-sref="siddurCloud.privacyPolicy()">Privacy Policy
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>